# Inflation Data

This script gathers inflation rate data using API calls to the StatBureau inflation dataset. The data for each year is saved 12 times, to simulate monthly data.  It is saved in a dataframe and sorted. The data is then written to a CSV file in the Output directory.

In [1]:
# set environment
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests

# pull in constants from config file
from config import xchg_filename
from config import infl_filename
from config import base_country
from config import countries

In [2]:
country_name = []
currency = []
curr_code = []
date = []
infl_rate = []

In [3]:
# get currency code we compared all rates to
base_currency = base_country["currency_code"]

In [4]:
# define countries for which we will pull inflation data,
# years we are interested in, and a list of numeric months
inflation_countries = ['belarus', 'brazil','canada', 'european-union', 'india', 'japan', 'kazakhstan', 'mexico', 'russia', 'turkey', 'ukraine']
years = [2014, 2015, 2016, 2017, 2018, 2019]
months = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]

In [5]:
# define our base url
base_url = "https://www.statbureau.org/calculate-inflation-rate-json"

# loop through each year for which we want data
for year in years:
    # loop through each of our countries
    for country in inflation_countries:
        # format data for get request parameter list
        start_date = f"{year}/1/1"
        end_date = f"{year}/12/1"
        
        # format our parameter list for our get request
        params = {'country': country, 'start': start_date, 'end': end_date}
        
        # pull data from web
        response = requests.get(base_url,params).json()
        
        # loop through each month
        for month in months:
            # remove and hyphens in our country name, and  capitalize
            mod_country = country.replace("-", " ").title()
            
            # populate our lists with data for our dataframe
            country_name.append(mod_country)
            currency.append(countries[mod_country]["currency_name"])
            curr_code.append(countries[mod_country]["currency_code"])
            date.append(f"{year}-{month}")
            infl_rate.append(response)
            
print("Inflation data retrieval complete.")

Inflation data retrieval complete.

In [7]:
# create the dataframe
inflation = {"Country": country_name, "Currency": currency, "Currency Code": curr_code, "Date": date, "Inflation Rate": infl_rate}
inflation_df = pd.DataFrame(inflation)

In [8]:
# sort dataframe by currency and year
sorted_analysis = inflation_df.sort_values(by=["Currency Code", "Date"])

# write to CSV for plotting and display
sorted_analysis.to_csv(infl_filename, index=False)
sorted_analysis

     Country           Currency Currency Code     Date Inflation Rate
12    Brazil     Brazilian Real           BRL  2014-01           6.41
13    Brazil     Brazilian Real           BRL  2014-02           6.41
14    Brazil     Brazilian Real           BRL  2014-03           6.41
15    Brazil     Brazilian Real           BRL  2014-04           6.41
16    Brazil     Brazilian Real           BRL  2014-05           6.41
..       ...                ...           ...      ...            ...
787  Ukraine  Ukrainian Hryvnia           UAH  2019-08           4.05
788  Ukraine  Ukrainian Hryvnia           UAH  2019-09           4.05
789  Ukraine  Ukrainian Hryvnia           UAH  2019-10           4.05
790  Ukraine  Ukrainian Hryvnia           UAH  2019-11           4.05
791  Ukraine  Ukrainian Hryvnia           UAH  2019-12           4.05

[792 rows x 5 columns]