In [118]:
#Calling Dependencies
from pycountry import countries
import pandas as pd
import sys

#Calling API Keys
sys.path.append("./Security")
from api_keys import akavantage
from functions import countrylst

In [122]:
country_df.head()

            Name Alpha_2 Alpha_3
0          Aruba      AW     ABW
1    Afghanistan      AF     AFG
2         Angola      AO     AGO
3       Anguilla      AI     AIA
4  Åland Islands      AX     ALA