In [102]:
from pycountry import countries
import pandas as pd


def countrylst():
    country = list(pycountry.countries)
    for i in country:
        name.append(i.name)
        alpha_2.append(i.alpha_2)
        alpha_3.append(i.alpha_3)
    
country_df = pd.DataFrame({'Name':name,'Alpha_2':alpha_2,'Alpha_3': alpha_3})
return(country_df)

            Name Alpha_2 Alpha_3
0          Aruba      AW     ABW
1    Afghanistan      AF     AFG
2         Angola      AO     AGO
3       Anguilla      AI     AIA
4  Åland Islands      AX     ALA